* {
    color: bisque;
}

body {
    background-color: #21272A;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: gray;
    border: 0;
    border-radius: 5%;
}

#track {
    background-color: lightblue;
    width: 700px;
    height: 500px;
    position: relative;
}

#timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-lap {
    display: flex;
}

#fastest_time {
    display: flex;
}

.time {
    padding-left: 5px;
}
