* {
    color: bisque;
}

body {
    background-color: #21272A;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;        
}

button {
    background-color: gray;
    border: 0;
    border-radius: 5%;
}

#menu {
    text-align: center; /* Center the content within the menu */
    margin-bottom: 20px;
}

#controls {
    margin: 10px 0;
}

#timer {
    width: 60%; /* Set the timer width to 60% of the screen */
    margin: 0 auto; /* Center the timer */
    overflow: hidden; /* Clear floats */
}

.timer {
    margin: 5px 0;
}

#current-lap,
#fastest-lap {
    display: inline-block; /* Make both elements inline-block */
    vertical-align: middle; /* Align them vertically in the middle */
    width: 150px; /* Set width to 150px */
    text-align: center; /* Center text inside the divs */
}

#current-lap {
    float: left;
    margin: 5px 0;
}

#fastest-lap {
    float: right; /* Float fastest lap to the right */
}

#track {
    background-color: lightblue;
    width: 700px;
    height: 500px;
    position: relative;
    margin: 0 auto; /* Center the track */
}

input {
    background-color: gray;
}

select {
    background-color: gray;
}
